html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

.social-links a {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.social-links a:hover {
  color: #00aaff; /* Change color on hover */
}

.address {
  font-size: 1rem;
  margin: 10px 0;
}

.copyright {
  font-size: 0.9rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .social-links a {
    font-size: 1.25rem;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.gstatic.com/s/roboto/v32/KFOmCnqEu92Fr1Mu4mxK.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Roboto', sans-serif;
}
